.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}
.year-select,
.month-select {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align input boxes to the left */
  gap: 10px;
}

.left-aligned-input {
  padding: 12px; /* Increased padding */
  margin: 6px;
  width: 110px; /* Increased width */
  font-size: 16px; /* Increased font size */
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.total-amount input {
  padding: 12px; /* Increased padding */
  margin: 6px;
  width: 180px; /* Increased width */
  font-size: 16px; /* Increased font size */
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.total-amount {
  margin-bottom: 20px;
}

.total-amount label {
  margin-right: 10px;
}
